doctype html
head
  title siteCyber
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.css')

body
  block content 
script(src="/javascripts/script.js") 
